---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/manage/ilkbyte.com/add?access=access_key&record_content=ilkbyte.com&record_name=api&record_type=CNAME&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"ilkbyte.com için yeni DNS kaydı eklendi","error":null,"data":{"Record":{"Name":"api","Type":"CNAME","Content":"ilkbyte.com","Ttl":0,"Prio":0}}}'
  recorded_at: Thu, 10 Dec 2020 16:16:45 GMT
recorded_with: VCR 4.0.0
