---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/list?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"1 Domain Listed","error":null,"data":{"domain_list":[{"domain":"ilkbyte.com","nameserver":{"master":"ns1-ilkbyte.ni.net.tr","slave":"ns2-ilkbyte.ni.net.tr"}}],"pagination":{"current_page":1,"total_page":1}}}'
  recorded_at: Thu, 10 Dec 2020 15:46:53 GMT
recorded_with: VCR 4.0.0
