---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/create?access=access_key&domain=ilkbyte-api.com&ipv6=false&secret=secret_key&server=ilkbyteApiServer
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Yeni Alan Adı ilkbyte-api.com Eklendi","error":null,"data":null}'
  recorded_at: Thu, 10 Dec 2020 15:59:21 GMT
recorded_with: VCR 4.0.0
