---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/manage/ilkbyte.com/delete?access=access_key&record_id=4068&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"DNS kaydı silme başarılı.","error":null,"data":null}'
  recorded_at: Thu, 10 Dec 2020 16:24:28 GMT
recorded_with: VCR 4.0.0
