---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/manage/ilkbyte.com/show?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"ilkbyte.com Bilgileri","error":null,"data":{"Records":[{"Content":"89.252.131.226","Id":4061,"Name":"","Prio":0,"Ttl":10800,"Type":"A"},{"Content":"ilkbyte.com","Id":4062,"Name":"www","Prio":0,"Ttl":10800,"Type":"CNAME"},{"Content":"2a03:2100:0:2a::e9:2","Id":4063,"Name":"","Prio":0,"Ttl":10800,"Type":"AAAA"}]}}'
  recorded_at: Thu, 10 Dec 2020 16:12:10 GMT
recorded_with: VCR 4.0.0
