---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/domain/manage/ilkbyte.com/update?access=access_key&record_content=ilkbyte-dns.com&record_id=4068&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"DNS kaydı güncellendi.","error":null,"data":{"Record":{"Name":"api","Type":"CNAME","Content":"ilkbyte-dns.com","Ttl":10800,"Prio":0}}}'
  recorded_at: Thu, 10 Dec 2020 16:21:41 GMT
recorded_with: VCR 4.0.0
