---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/backup/restore?access=access_key&backup_name=Weekly&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status": true,"message": "Test backup process is queued!!","error": null,"data": {"name": "Deneme","file_size": "5 GB","file_hash": "111111","is_locked": false,"backup_time": "2020-10-09T15:58:49+03:00"}}'
  recorded_at: Fri, 11 Dec 2020 20:01:33 GMT
recorded_with: VCR 4.0.0
