---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/backup?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"","error":"Server backup not found!","data":null}'
  recorded_at: Fri, 11 Dec 2020 20:01:33 GMT
recorded_with: VCR 4.0.0
