---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/create/config?access=access_key&name=Test&os_id=17&package_id=5&secret=secret_key&sshkey=ssh-rsa&username=ilkbyteuser
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Server created!","error":null,"data":{"server_info":{"ipv4": "127.0.0.1","ipv6": "1111:1111:1:11::11:2","name":"Test","osapp":"Ubuntu
        20.04 LTS / OpenSSH","password":"password","service":"inprogress","username":"ilkbyteuser"}}}'
  recorded_at: Thu, 10 Dec 2020 17:56:37 GMT
recorded_with: VCR 4.0.0
