---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/ip/list?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"","error":null,"data":{"ipv4":[{"address":"127.0.0.1","reverse":"test.ni.net.tr","acl_list":"open","usage":"active"}],"ipv6":[{"address":"1111:2100:1:11::11:1","reverse":"test.ni.net.tr","acl_list":"open","usage":"active"}]}}'
  recorded_at: Thu, 10 Dec 2020 18:51:03 GMT
recorded_with: VCR 4.0.0
