---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/monitor?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Selected Server Test","error":null,"data":{"service":"Active","status":"shut
        off","ipv4":"127.1.1.0","ipv6":"","bandwidth_limit":1073741824000,"bandwidth_usage":32102360}}'
  recorded_at: Thu, 10 Dec 2020 18:44:03 GMT
recorded_with: VCR 4.0.0
