---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/power?access=access_key&secret=secret_key&set=shutdown
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Test","error":null,"data":{"Status":"Çalışıyor"}}'
  recorded_at: Thu, 10 Dec 2020 18:40:57 GMT
recorded_with: VCR 4.0.0
