---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/ip/rdns?access=access_key&ip=127.1.1.0&rdns=rdns.ilkbyte.com&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":false,"message":"","error":"Hostname IP adresine yönlendirilmemiştir!","data":null}'
  recorded_at: Thu, 10 Dec 2020 19:02:44 GMT
recorded_with: VCR 4.0.0
