---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/ip/rdns?access=access_key&ip=127.0.0.1&rdns=rdns.ilkbyte.com&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"127.0.0.1 IP Adresi RDNS kaydı Güncellendi","error":null,"data":null}'
  recorded_at: Sun, 20 Dec 2020 19:23:29 GMT
recorded_with: VCR 4.0.0
