---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/Test/snapshot/delete?access=access_key&name=test&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Snapshot deleted!","error":null,"data":null}'
  recorded_at: Sun, 20 Dec 2020 18:35:35 GMT
recorded_with: VCR 4.0.0
