---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/server/manage/ilkbyteApiServer/snapshot?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Snapshot list created","error":null,"data":{"snapshots":[]}}'
  recorded_at: Sat, 12 Dec 2020 12:49:01 GMT
recorded_with: VCR 4.0.0
