---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/account?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Account Info","error":null,"data":{"balance":74.3,"group":"Standart","name":"Vilusa
        ","status":true}}'
  recorded_at: Wed, 09 Dec 2020 18:46:07 GMT
recorded_with: VCR 4.0.0
