---
http_interactions:
- request:
    method: get
    uri: https://api.ilkbyte.com/account/users?access=access_key&secret=secret_key
    body:
      encoding: US-ASCII
      string: ''
    headers:
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=utf-8
    body:
      encoding: UTF-8
      string: '{"status":true,"message":"Account Users","error":null,"data":{"pagination":{"current_page":1,"total_page":1},"user_list":[{"email":"kmlakin97@gmail.com","firstname":"Kemal","last_login":"27.07.2018
        15:31:00","lastnamename":"AKIN","level":"Sahibi","status":"Active","verify":true}]}}'
  recorded_at: Wed, 09 Dec 2020 18:46:07 GMT
recorded_with: VCR 4.0.0
